/* GRILLA DE TURNOS */
.turnero {
  display: grid;
  /* height: 80vh; */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin-top: .2rem;
  border: 2px solid #000;
  border-top: none;
}

.position-sticky {
  position: sticky;
  top: 0;
}

p.position-sticky {
  top: 7.23rem;
}

.turnero-head {
  background-color: var(--background-color);
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.turnero-head::after {
  width: 100%;
  height: 5vh;
  background-color: #965757;
}

.turnero-head .nothing {
  width: 1rem;
  height: 1rem;
}

.turnero-head .date {
  text-align: center;
}

.turnero-head h2 {
  font-size: 2rem;
  font-weight: 700;
}

.turnero-month {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.turnero-semana {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.turnero-dia {
  text-align: center;
  height: fit-content;
  background-color: var(--background-color);
  z-index: 10;
  /* margin-top: -2rem; */
}

.turnero-hora-8 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.turnero-hora-9 {
  grid-column: 1 / 2;
  grid-row: 5 / 7;
}

.turnero-hora-10 {
  grid-column: 1 / 2;
  grid-row: 7 / 9;
}

.turnero-hora-11 {
  grid-column: 1 / 2;
  grid-row: 9 / 11;
}

.turnero-hora-12 {
  grid-column: 1 / 2;
  grid-row: 11 / 13;
}

.turnero-hora-13 {
  grid-column: 1 / 2;
  grid-row: 13 / 15;
}

.turnero-hora-14 {
  grid-column: 1 / 2;
  grid-row: 15 / 17;
}

.parte-izquierda {
  padding: 0 1rem;
  /* margin-right: 0.5rem; */
  border-right: 2px solid #000;
  border-top: 2px solid #000;

  &:nth-child(2) {
    border-top: none;
  }
}

.parte-izquierda.position-sticky {
  border-top: none;
}

/* TURNOS */

.turnos {
  background-color: var(--primary-color);
  margin: 0 .5rem;
  border: 2.5px solid var(--secondary-color);
  border-radius: 5px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.2s ease;
  position: relative;
  z-index: 0;

  & .turno-info {
    position: absolute;
    bottom: 10px;
    right: 70%;
    text-align: center;

    width: 254px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 1.2rem;
    background-color: var(--background-color);
    font-weight: bold;

    z-index: 40;

    &:hover {
      cursor: auto;
    }

    & .infoPacienteBtn {
      background-color: transparent;
      border: 1px solid #000;
      border-radius: .6rem;
      margin-top: .7rem;
      padding: .3rem;
      transition: all .2s ease;

      &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
      }
    }
  }

  & h3 {
    margin-bottom: .6rem;
  }

  & span {
    font-weight: normal;
    text-transform: none;
  }
}

.turnos:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.turnos-active {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  transform: scale(0.9);
}

.edit-delete-container {
  display:flex;
  justify-content: space-between;
  width: 100%;
  
  & span {
    transition: all .2s ease;
    
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(.95);
    }
  }

  & .modificar-turno-btn {
    color: rgb(24, 97, 29);
  }

  & .eliminar-turno-btn {
    color: rgb(138, 32, 32);
  }
}

/* MODAL AGREGAR TURNO */
.modal-crear-turno {
  height: 100vh;
  width: 100vw;
  background-color: #68b6;

  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 10;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
}

.modal-crear-turno[open] {
  visibility: visible;
}

.modal-content {
  width: 550px;
  height: 440px;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  font-size: 1.3rem;
  text-transform: capitalize;
}

.close-modal {
  height: 1.85rem;
  width: 1.85rem;
  font-size: 1.7rem;

  position: absolute;
  top: 0;
  right: 0;

  border: none;
  /* border: 1px solid #000; */
  padding: 0;
  background-color: transparent;
  color: #d55;

  & > i{
    transition: all .4s ease-out;
  }

}

.close-modal:hover > i {
  cursor: pointer;
  color: #822;
  transform: rotate(360deg) scale(1.1);
}

.modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > input {
    width: 40%;
    text-transform: uppercase;
    border: 1px solid #0008;
    margin-bottom: 1.3rem;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
  }
  
  & button {
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.3rem;
    margin: .5rem 0;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    transition: all 0.2s ease;
    
    &:hover, &:focus{
      outline: none;
      cursor: pointer;
      transform: scale(1.2, 1.2);
      background-color: var(--primary-color);
    }
    
    &:active {
      transform: scale(0.9, 0.9);
      background-color: var(--secondary-color);
    }
  }
}

.select-hour-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;

  & select {
    background-color: #ffffff;
    border: none;
    padding: 0 0.2rem;
  }
}

.fullname-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 1.2rem 0;

  & input {
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
    border: 1px solid #000;
    border-radius: 10px;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
  }
}

.textarea {
  width: 75%;
  height: 3.4rem;
  resize: none;
}

.error {
  color: rgb(138, 32, 32);
}

.succes {
  color: rgb(24, 97, 29);
}